*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
  color: #000000;
  font-family: 'Montserrat';
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}