@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  color: #000000;
}

body {
  font-family: 'Montserrat';
}

/**************/
/*** header ***/
/**************/
header {
  background-color: #FFF;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;

  nav {
    ul {
      display: flex;

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
      }
    }
  }

  nav.left-nav {
    ul {
      li {
        a {
          padding: 9px 15px;
        }

        a.active {
          font-weight: 600;
        }
      }
    }
  }

  nav.right-nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li .currency {
        display: flex;
        align-items: center;
        border-radius: 35px;
        border: 1px solid #F2F2F2;
        background: #FFF;
        padding: 5px 6px;

        img {
          margin-right: 3px;
        }

        span {
          margin-right: 10px;
        }
      }
    }
  }
}

/********************/
/*** main content ***/
/********************/
main {
  #benefits {
    background-color: #F2F2F2;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .benefit {
      display: flex;
      align-items: center;
      gap: 15px;
      text-decoration: none;

      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  #hero {
    display: flex;
    align-items: center;
    padding: 0px 24px;
    height: 650px;
    background:
      url("../images/Rectangle17.png") left / 50% no-repeat,
      url("../images/Rectangle.png") right / 50% no-repeat;


    button.previous, button.next {
      height: 50px;
      width: 50px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    button.previous {
      background-image: url("../images/ant-design_left-outlined.png");
    }

    button.next {
      background-image: url("../images/ant-design_right-outlined.png");
    }

    .hero-content {
      margin-left: auto;
      text-align: center;

      button.shop-now {
        padding: 15px 30px;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        border: none;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
}