@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "globals";

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  color: #000000;
}

body {
  font-family: 'Montserrat';
}

button {
  cursor: pointer;
}

/**************/
/*** header ***/
/**************/
header {
  background-color: #FFF;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;

  nav {
    ul {
      display: flex;

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
      }
    }
  }

  nav.left-nav {
    ul {
      li {
        a {
          padding: 9px 15px;
        }

        a.active {
          font-weight: 600;
        }
      }
    }
  }

  nav.right-nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li .currency {
        display: flex;
        align-items: center;
        border-radius: 35px;
        border: 1px solid #F2F2F2;
        background: #FFF;
        padding: 5px 6px;

        img {
          margin-right: 3px;
        }

        span {
          margin-right: 10px;
        }
      }

      li .cart-overview {
        display: none;
        width: 300px;
        background-color: #FFF;
        position: absolute;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        left: -650%;
        top: 20px;
        padding: 30px;
        z-index: 999;
        max-height: 568px;
        overflow: auto;

        .item {
          .item-details {
            display: flex;
            padding: 10px;
  
            img {
              padding: 0px 10px 30px 0px;
              max-width: 100%;
              height: auto;
            }

            .description {
              strong {
                font-size: 14px;
              }
              
              p {
                font-size: 12px;
              }
            }
          }

          &::after {
            content: "";
            display: block;
            height: 2px;
            background-color: darkgray;
            margin: 20px 0px;
          }
        }

        hr {
          margin: 10px 0px;
        }

        .checkout {
          div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            font-size: 12px;

            strong:first-child {
              text-decoration: underline;
            }
          }

          button {
            padding: 20px 30px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

/********************/
/*** main content ***/
/********************/
main {
  .benefits {
    background-color: #F2F2F2;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .benefit {
      display: flex;
      align-items: center;
      gap: 15px;
      text-decoration: none;

      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 0px 24px;
    min-height: 650px;
    background:
      url("../images/Rectangle17.png") left / 50% no-repeat,
      url("../images/Rectangle.png") right / 50% no-repeat;


    button.previous, button.next {
      height: 50px;
      width: 50px;
      border: none;
      background-color: transparent;
    }

    button.previous {
      background-image: url("../images/ant-design_left-outlined.png");
    }

    button.next {
      background-image: url("../images/ant-design_right-outlined.png");
    }

    .hero-content {
      margin-left: auto;
      text-align: center;

      button {
        font-size: 36px;
        padding: 15px 30px;
        font-weight: 600;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .site-wide-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    padding: 45px 68px;

    p {
      font-size: 32px;
      font-weight: 600;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      span {
        font-size: 18px;
        font-weight: 800;
      }
    }
  }

  .instagram-posts {
    height: 550px;
    text-align: center;
    background-color: #F2F2F2;;

    h3, p {
      padding: 10px 20px 20px 20px;
    }
    
    h3 {
      padding-top: 40px;
      font-size: 36px;
      font-weight: 800;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 31px;
    }

    .posts {
      display: flex;
      gap: 49px;
      justify-content: center;
      margin-bottom: 31px;
    }
  }

  .vip-exclusive {
    min-height: 75px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 13.54%, #000 40.10%, #000 100%), url("../images/vip-exclusive-bg.jpg"), lightgray 50% / cover no-repeat;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    div {
      display: flex;
      width: 100%;
      padding: 0px 118px;

      h3, p {
        color: #FFF;
      }

      h3 {
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        margin-right: 24px;
      }
  
      p {
        width: 354px;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
      }

      button {
        margin: auto;
      }
    }
  }

  .trending {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1040px;
    padding: 40px 190px 62px 190px;

    h3 {
      padding: 10px 20px 20px 20px;
      font-size: 36px;
    }

    p {
      padding: 10px 20px 20px 20px;
      font-size: 14px;
      font-weight: 400;
    }

    .trending-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .item {
        padding: 20px;
        flex-basis: calc(25%);
      }
    }

    .tags {
      display: flex;
      justify-content: center;
      gap: 25px;

      button {
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid #000;
      }
    }
  }
  
  .new-arrivals {
    position: relative;
    height: 400px;
    background-image: url('../images/new-arrivals/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: center;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::before {
      background-image: url('../images/new-arrivals/g1.png');
      z-index: 1;
      background-position-x: 101px;
    }

    &::after {
      background-image: url('../images/new-arrivals/g2.png');
      z-index: 2;
      background-position-x: 442px;
    }

    div {
      padding: 0px 148px;

      h2 {
        color: #FFF;
        font-family: Montserrat;
        font-size: 86px;
        font-style: normal;
        font-weight: 800;
        line-height: 86px; /* 100% */
        text-transform: uppercase;
        margin-bottom: 21px;
        width: 462px;
      }
  
      p {
        color: #FFF;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 43px;
      }
    }
  }

  .recently-bought {
    padding: 40px;
    
    h3 {
      padding: 10px 20px 20px 20px;
      text-align: center;
      font-size: 36px;
      font-weight: 800;
    }

    .recently-bought-items {
      display: flex;
      justify-content: space-around;
      
      .item {
        padding: 20px;

        .description {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          width: 225px;
          height: 75px;

          p {
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: auto;
          }
          
          .price {
            height: 25px;
            display: flex;
            align-items: center;

            strong {
              font-weight: 600;
            }
          }
        }

        &.item-sale {
          .description {
            .current-price {
              color: #C1272D;
              width: 58px;
              display: inline-block;
            }
  
            .old-price {
              text-decoration-line: strikethrough;
            }
          }
        }

        button {
          margin-top: 10px;
        }
      }
    }
  }

  .newsletter {
    background: #000;
    height: 75px;
    padding: 20px 118px;
    display: flex;
    justify-content: space-between;

    h2 {
      color: #FFF;
      font-size: 32px;
      font-weight: 800;
      text-transform: uppercase;
    }

    .input-container{
      position: relative;

      .input-field {
        padding: 9px 35px 9px 17px;
        height: 35px;
        width: 354px
      }

      .input-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url('../images/icons/ant-design_right-outlined.svg');
        background-size: cover;
        cursor: pointer;
      }
    }
  }

  .cart {
    padding: 40px;

    .head {
      margin-bottom: 30px;

      div {
        display: flex;
        justify-content: space-between;
        
      }
    }
    .content {
      display: flex;

      .items {
        flex: 2;
        margin-right: 40px;

        .label {
          strong:last-child {
            float: right;
          }
        }

        .label::after, .item::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: lightgray;
          margin: 10px 0px;
        }

        .item > div {
          display: flex;
          justify-content: space-between;

          img {
            padding: 0px 20px;
          }

          > div {
            display: flex;
            flex-direction: column;

            p {
              margin-bottom: 5px;
            }

            .actions {
              bottom: 0px;
              width: 100%;
              margin-top: auto;
              a:not(:last-child) {
                margin-right: 20px;
              }
            }
          }

          > strong {
            margin-left: auto;
          }
        }
      }

      .order-summary {
        flex: 1;

        > strong {
          text-align: center;
          width: 100%;
          display: block;
        }

        .estimates {
          border: 2px solid black;
          padding: 20px;
          border-radius: 2px;

          > div {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            p, strong {
              flex-basis: 50%;
              padding: 5px 0px;
            }

            :is(p, strong):nth-child(even) {
              text-align: right;
            }

            &:last-child p {
              text-align: center;
              flex-basis: 100%;
              color: red;
            }
          }

          > div:first-child::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: lightgray;
            margin: 20px 0px;
          }
        }

        button, .estimates {
          margin-top: 10px;
        }

        button {
          border-radius: 5px;
        }

        button:not(:last-child) {
          padding: 20px;
        }

        button:last-child {
          border: 1px solid black;
          font-weight: normal;
        }
      }
    }
    .foot {
      padding: 15px 0px;
      div {
        margin-top: 15px;
      }
    }
  }
}

/**************/
/*** footer ***/
/**************/
footer {
  padding: 40px;

  .links {
    display: flex;
    margin-bottom: 29px;

    h4 {
      font-size: 12px;
      font-weight: 600;
    }

    a {
      text-decoration: none;
      display: block;
      font-size: 12px;
      font-weight: 400;
    }

    .internal {
      &:not(:last-child) {
        padding-right: 20px;

        h4, a {
          padding: 10px;
        }
      }
    }

    .external {
      margin-left: 112px;

      h4 {
        padding: 10px;
      }

      .social-medias {
        margin-bottom: 10px;
      }

      .social-medias, .gateways {
        padding: 0px 10px;
        display: flex;
        gap: 10px;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;

    span {
      padding-left: 10px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}