@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #000000;
}

body {
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}

/**************/
/*** header ***/
/**************/
header {
  background-color: #FFF;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul a {
  text-decoration: none;
}
header nav.left-nav ul li a {
  padding: 9px 15px;
}
header nav.left-nav ul li a.active {
  font-weight: 600;
}
header nav.right-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav.right-nav ul li .currency {
  display: flex;
  align-items: center;
  border-radius: 35px;
  border: 1px solid #F2F2F2;
  background: #FFF;
  padding: 5px 6px;
}
header nav.right-nav ul li .currency img {
  margin-right: 3px;
}
header nav.right-nav ul li .currency span {
  margin-right: 10px;
}

/********************/
/*** main content ***/
/********************/
main .benefits {
  background-color: #F2F2F2;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .benefits .benefit {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
main .benefits .benefit span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .hero {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  min-height: 650px;
  background: url("../images/Rectangle17.png") left/50% no-repeat, url("../images/Rectangle.png") right/50% no-repeat;
}
main .hero button.previous, main .hero button.next {
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
}
main .hero button.previous {
  background-image: url("../images/ant-design_left-outlined.png");
}
main .hero button.next {
  background-image: url("../images/ant-design_right-outlined.png");
}
main .hero .hero-content {
  margin-left: auto;
  text-align: center;
}
main .hero .hero-content button.shop-now {
  padding: 15px 30px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  border: none;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
main .site-wide-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  padding: 45px 68px;
}
main .site-wide-details p {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
main .site-wide-details p span {
  font-size: 18px;
  font-weight: 800;
}
main .site-wide-details button {
  border: none;
  background: #000;
  padding: 10px 20px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
main .vip-exclusive {
  min-height: 75px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 13.54%, #000 40.1%, #000 100%), url("../images/vip-exclusive-bg.jpg"), lightgray 50%/cover no-repeat;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
main .vip-exclusive div {
  display: flex;
  width: 100%;
  padding: 0px 118px;
}
main .vip-exclusive div h3, main .vip-exclusive div p {
  color: #FFF;
}
main .vip-exclusive div h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 24px;
}
main .vip-exclusive div p {
  width: 354px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}
main .vip-exclusive div button {
  border: none;
  padding: 10px 20px;
  background: #FFF;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;
}
main .trending {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 1040px;
  padding: 40px 190px 62px 190px;
}
main .trending h3 {
  padding: 10px 20px 20px 20px;
  font-size: 36px;
}
main .trending p {
  padding: 10px 20px 20px 20px;
  font-size: 14px;
  font-weight: 400;
}
main .trending .trending-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .trending .trending-items .item {
  padding: 20px;
  flex-basis: 25%;
}
main .trending .tags {
  display: flex;
  justify-content: center;
  gap: 25px;
}
main .trending .tags button {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #000;
}
main .new-arrivals {
  position: relative;
  height: 400px;
  background-image: url("../images/new-arrivals/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;
}
main .new-arrivals::before, main .new-arrivals::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
main .new-arrivals::before {
  background-image: url("../images/new-arrivals/g1.png");
  z-index: 1;
  background-position-x: 101px;
}
main .new-arrivals::after {
  background-image: url("../images/new-arrivals/g2.png");
  z-index: 2;
  background-position-x: 442px;
}
main .new-arrivals div {
  padding: 0px 148px;
}
main .new-arrivals div h2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 86px;
  font-style: normal;
  font-weight: 800;
  line-height: 86px;
  /* 100% */
  text-transform: uppercase;
  margin-bottom: 21px;
  width: 462px;
}
main .new-arrivals div p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 43px;
}
main .new-arrivals div button {
  padding: 10px 20px;
  border: none;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
main .recently-bought {
  padding: 40px;
}
main .recently-bought h3 {
  padding: 10px 20px 20px 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}
main .recently-bought .recently-bought-items {
  display: flex;
}
main .recently-bought .recently-bought-items .item {
  padding: 20px;
}
main .recently-bought .recently-bought-items .item .description {
  font-size: 14px;
}
main .recently-bought .recently-bought-items .item .description p {
  font-weight: 400;
}
main .recently-bought .recently-bought-items .item .description strong {
  font-weight: 600;
}
main .recently-bought .recently-bought-items .item-sale .description .price {
  color: #C1272D;
  width: 58px;
  display: inline-block;
}
main .recently-bought .recently-bought-items .item-sale .description .old-price {
  text-decoration-line: strikethrough;
}
