@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.primary-button {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background: #FFF;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.secondary-button {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: #FFF;
  background: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.w-100 {
  width: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #000000;
}

body {
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}

/**************/
/*** header ***/
/**************/
header {
  background-color: #FFF;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul a {
  text-decoration: none;
}
header nav.left-nav ul li a {
  padding: 9px 15px;
}
header nav.left-nav ul li a.active {
  font-weight: 600;
}
header nav.right-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav.right-nav ul li .currency {
  display: flex;
  align-items: center;
  border-radius: 35px;
  border: 1px solid #F2F2F2;
  background: #FFF;
  padding: 5px 6px;
}
header nav.right-nav ul li .currency img {
  margin-right: 3px;
}
header nav.right-nav ul li .currency span {
  margin-right: 10px;
}
header nav.right-nav ul li .cart-overview {
  display: none;
  width: 300px;
  background-color: #FFF;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  left: -650%;
  top: 20px;
  padding: 30px;
  z-index: 999;
  max-height: 568px;
  overflow: auto;
}
header nav.right-nav ul li .cart-overview .item .item-details {
  display: flex;
  padding: 10px;
}
header nav.right-nav ul li .cart-overview .item .item-details img {
  padding: 0px 10px 30px 0px;
  max-width: 100%;
  height: auto;
}
header nav.right-nav ul li .cart-overview .item .item-details .description strong {
  font-size: 14px;
}
header nav.right-nav ul li .cart-overview .item .item-details .description p {
  font-size: 12px;
}
header nav.right-nav ul li .cart-overview .item::after {
  content: "";
  display: block;
  height: 2px;
  background-color: darkgray;
  margin: 20px 0px;
}
header nav.right-nav ul li .cart-overview hr {
  margin: 10px 0px;
}
header nav.right-nav ul li .cart-overview .checkout div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 12px;
}
header nav.right-nav ul li .cart-overview .checkout div strong:first-child {
  text-decoration: underline;
}
header nav.right-nav ul li .cart-overview .checkout button {
  padding: 20px 30px;
  font-size: 12px;
}

/********************/
/*** main content ***/
/********************/
main .benefits {
  background-color: #F2F2F2;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .benefits .benefit {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
main .benefits .benefit span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .hero {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  min-height: 650px;
  background: url("../images/Rectangle17.png") left/50% no-repeat, url("../images/Rectangle.png") right/50% no-repeat;
}
main .hero button.previous, main .hero button.next {
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
}
main .hero button.previous {
  background-image: url("../images/ant-design_left-outlined.png");
}
main .hero button.next {
  background-image: url("../images/ant-design_right-outlined.png");
}
main .hero .hero-content {
  margin-left: auto;
  text-align: center;
}
main .hero .hero-content button {
  font-size: 36px;
  padding: 15px 30px;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
main .site-wide-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  padding: 45px 68px;
}
main .site-wide-details p {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
main .site-wide-details p span {
  font-size: 18px;
  font-weight: 800;
}
main .instagram-posts {
  height: 550px;
  text-align: center;
  background-color: #F2F2F2;
}
main .instagram-posts h3, main .instagram-posts p {
  padding: 10px 20px 20px 20px;
}
main .instagram-posts h3 {
  padding-top: 40px;
  font-size: 36px;
  font-weight: 800;
}
main .instagram-posts p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 31px;
}
main .instagram-posts .posts {
  display: flex;
  gap: 49px;
  justify-content: center;
  margin-bottom: 31px;
}
main .vip-exclusive {
  min-height: 75px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 13.54%, #000 40.1%, #000 100%), url("../images/vip-exclusive-bg.jpg"), lightgray 50%/cover no-repeat;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
main .vip-exclusive div {
  display: flex;
  width: 100%;
  padding: 0px 118px;
}
main .vip-exclusive div h3, main .vip-exclusive div p {
  color: #FFF;
}
main .vip-exclusive div h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 24px;
}
main .vip-exclusive div p {
  width: 354px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
}
main .vip-exclusive div button {
  margin: auto;
}
main .trending {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 1040px;
  padding: 40px 190px 62px 190px;
}
main .trending h3 {
  padding: 10px 20px 20px 20px;
  font-size: 36px;
}
main .trending p {
  padding: 10px 20px 20px 20px;
  font-size: 14px;
  font-weight: 400;
}
main .trending .trending-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .trending .trending-items .item {
  padding: 20px;
  flex-basis: 25%;
}
main .trending .tags {
  display: flex;
  justify-content: center;
  gap: 25px;
}
main .trending .tags button {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #000;
}
main .new-arrivals {
  position: relative;
  height: 400px;
  background-image: url("../images/new-arrivals/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;
}
main .new-arrivals::before, main .new-arrivals::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
main .new-arrivals::before {
  background-image: url("../images/new-arrivals/g1.png");
  z-index: 1;
  background-position-x: 101px;
}
main .new-arrivals::after {
  background-image: url("../images/new-arrivals/g2.png");
  z-index: 2;
  background-position-x: 442px;
}
main .new-arrivals div {
  padding: 0px 148px;
}
main .new-arrivals div h2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 86px;
  font-style: normal;
  font-weight: 800;
  line-height: 86px;
  /* 100% */
  text-transform: uppercase;
  margin-bottom: 21px;
  width: 462px;
}
main .new-arrivals div p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 43px;
}
main .recently-bought {
  padding: 40px;
}
main .recently-bought h3 {
  padding: 10px 20px 20px 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}
main .recently-bought .recently-bought-items {
  display: flex;
  justify-content: space-around;
}
main .recently-bought .recently-bought-items .item {
  padding: 20px;
}
main .recently-bought .recently-bought-items .item .description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 225px;
  height: 75px;
}
main .recently-bought .recently-bought-items .item .description p {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: auto;
}
main .recently-bought .recently-bought-items .item .description .price {
  height: 25px;
  display: flex;
  align-items: center;
}
main .recently-bought .recently-bought-items .item .description .price strong {
  font-weight: 600;
}
main .recently-bought .recently-bought-items .item.item-sale .description .current-price {
  color: #C1272D;
  width: 58px;
  display: inline-block;
}
main .recently-bought .recently-bought-items .item.item-sale .description .old-price {
  text-decoration-line: strikethrough;
}
main .recently-bought .recently-bought-items .item button {
  margin-top: 10px;
}
main .newsletter {
  background: #000;
  height: 75px;
  padding: 20px 118px;
  display: flex;
  justify-content: space-between;
}
main .newsletter h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
main .newsletter .input-container {
  position: relative;
}
main .newsletter .input-container .input-field {
  padding: 9px 35px 9px 17px;
  height: 35px;
  width: 354px;
}
main .newsletter .input-container .input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/ant-design_right-outlined.svg");
  background-size: cover;
  cursor: pointer;
}
main .cart {
  padding: 40px;
}
main .cart .head {
  margin-bottom: 30px;
}
main .cart .head div {
  display: flex;
  justify-content: space-between;
}
main .cart .content {
  display: flex;
}
main .cart .content .items {
  flex: 2;
  margin-right: 40px;
}
main .cart .content .items .label strong:last-child {
  float: right;
}
main .cart .content .items .label::after, main .cart .content .items .item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 10px 0px;
}
main .cart .content .items .item > div {
  display: flex;
  justify-content: space-between;
}
main .cart .content .items .item > div img {
  padding: 0px 20px;
}
main .cart .content .items .item > div > div {
  display: flex;
  flex-direction: column;
}
main .cart .content .items .item > div > div p {
  margin-bottom: 5px;
}
main .cart .content .items .item > div > div .actions {
  bottom: 0px;
  width: 100%;
  margin-top: auto;
}
main .cart .content .items .item > div > div .actions a:not(:last-child) {
  margin-right: 20px;
}
main .cart .content .items .item > div > strong {
  margin-left: auto;
}
main .cart .content .order-summary {
  flex: 1;
}
main .cart .content .order-summary > strong {
  text-align: center;
  width: 100%;
  display: block;
}
main .cart .content .order-summary .estimates {
  border: 2px solid black;
  padding: 20px;
  border-radius: 2px;
}
main .cart .content .order-summary .estimates > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .cart .content .order-summary .estimates > div p, main .cart .content .order-summary .estimates > div strong {
  flex-basis: 50%;
  padding: 5px 0px;
}
main .cart .content .order-summary .estimates > div :is(p, strong):nth-child(even) {
  text-align: right;
}
main .cart .content .order-summary .estimates > div:last-child p {
  text-align: center;
  flex-basis: 100%;
  color: red;
}
main .cart .content .order-summary .estimates > div:first-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 20px 0px;
}
main .cart .content .order-summary button, main .cart .content .order-summary .estimates {
  margin-top: 10px;
}
main .cart .content .order-summary button {
  border-radius: 5px;
}
main .cart .content .order-summary button:not(:last-child) {
  padding: 20px;
}
main .cart .content .order-summary button:last-child {
  border: 1px solid black;
  font-weight: normal;
}
main .cart .foot {
  padding: 15px 0px;
}
main .cart .foot div {
  margin-top: 15px;
}

/**************/
/*** footer ***/
/**************/
footer {
  padding: 40px;
}
footer .links {
  display: flex;
  margin-bottom: 29px;
}
footer .links h4 {
  font-size: 12px;
  font-weight: 600;
}
footer .links a {
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: 400;
}
footer .links .internal:not(:last-child) {
  padding-right: 20px;
}
footer .links .internal:not(:last-child) h4, footer .links .internal:not(:last-child) a {
  padding: 10px;
}
footer .links .external {
  margin-left: 112px;
}
footer .links .external h4 {
  padding: 10px;
}
footer .links .external .social-medias {
  margin-bottom: 10px;
}
footer .links .external .social-medias, footer .links .external .gateways {
  padding: 0px 10px;
  display: flex;
  gap: 10px;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
}
footer .copyright span {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 400;
}
